@font-face {
  font-family: "satoshi-bold";
  src: url("./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf");
}

@font-face {
  font-family: "satoshi-regular";
  src: url("./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "satoshi-regular";

}

h1.responsive-heading {
  font-family: "satoshi-bold";
  line-height: 1; 
  letter-spacing: -0.5px;
}

h2 {
  font-family: "satoshi-bold";
}

a {
    font-size: 18px !important;
}

.icon-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(7%) hue-rotate(131deg) brightness(101%) contrast(104%);
}

.icon-blue {
  filter: brightness(0) saturate(100%) invert(62%) sepia(58%) saturate(6101%) hue-rotate(171deg) brightness(95%) contrast(97%);
}

.icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    object-fit: contain;
    font-size: 35px;
}

.tooltip-inner {
  color: white !important;
  width: fit-content !important; 
  max-width: fit-content !important;
  background-color: transparent !important;
  font-size: 16px;
}

.btn {
    background: #9518bf !important;
    outline: none !important;
    border: none !important; 
    color: white !important;
    border-radius: 20px !important;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: #9518bf;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
  font-weight: bold !important;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

button img {
  display: block;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover img {
  transform: translateX(1.2em) rotate(-60deg) scale(1.1);
  -webkit-transform: translateX(1.2em) rotate(-60deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
  -webkit-transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
  }
  to {
    -webkit-transform: translateY(-0.1em);
  }
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    }
    
    .timeline .timeline-item {
    position: relative;
    }
    
    .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
    }
    
    .timeline .timeline-item:after {
    background-color: #9518bf;
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    }

.card {
    background-color: transparent !important;
    height: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1; /* Makes the card body fill the available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress {
    margin-top: auto; /* Ensures the progress bar is at the bottom */
    height: 5px !important;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    background-color: transparent; /* No background color */
}

::-webkit-scrollbar-thumb {
    background-color: #9518bf; /* Purple color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}
  .card-custom {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .card-btn {
    margin-top: 1rem;
  }
  
  .card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: none !important;
    outline: 0;
    box-shadow: 0 0 0 2px #9518bf !important;
}

.custom-modal {
    width: 400px;
    height: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal .modal-content {
    height: 100%;
}

.responsive-heading {
    font-size: 24px; /* Default for mobile */
}

.card-skill {
    background-color: #0D1117 !important;
    width: 160px; /* Fixed width for larger screens */
    height: 160px; /* Fixed height for larger screens */
    border-radius: 16px;
    margin-bottom: 10px;
    flex: 0 0 auto; /* Prevents cards from growing or shrinking */
    display: flex; /* Ensures content can be centered */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

.icon-skill {
    width: 48px; 
    height: 48px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap; /* Enables wrapping for smaller screens */
        justify-content: center; /* Centers the items */
    }

    .col-6 {
        flex: 0 0 50%; /* Two columns on mobile */
        max-width: 50%; /* Ensures max width is 50% for two columns */
        display: flex; /* Ensures that the content is centered */
        justify-content: center; /* Centers the cards */
        align-items: center; /* Aligns items vertically in the center */
    }
}

/* Fallback for older browsers */
@supports (-ms-ime-align: auto) {
    .col-6 {
        /* Adjustments for IE11 */
        flex: 0 0 50%; 
        max-width: 50%; 
    }
}
  
@media (max-width: 768px) {
  .flex-column-custom {
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media (min-width: 768px) {
  .responsive-heading {
    font-size: 80px;
  }
}

/* Custom checkbox styles */
.form-check-input:checked {
  background-color: #9518bf !important; /* Change the background color when checked */
  border: none;
}

/* Optional: Change the color of the checkbox when focused */
.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(149, 24, 191, 0.5) !important; /* Add a shadow for focus */
}